.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
}

body {
  font-family: var(--main-font);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
  overflow-y: scroll;
  padding: 0px 15px;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.icon-close-black {
  position: absolute;
  display: block;
  top: 8px;
  right: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon-close-black {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-text {
  display: inline-block;
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-left: 25px;
}

.modal-form-policy-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-text .modal-form-policy-icon {
  fill: var(--accent-color);
}

.modal-form-policy-icon-check {
  position: absolute;
  width: 14px;
  height: 13px;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  fill: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-text .modal-form-policy-icon-check {
  background: var(--accent-color);
  fill: #fff;
}

.modal-form-policy-link {
  text-decoration-line: underline;
  color: #2196f3;
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  text-decoration: inherit;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  padding: 10px 32px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.navigation-list,
.address {
  display: none;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: #212121;
}

.content-logo {
  color: #2196f3;
}

.mobile-menu-icon {
  width: 24px;
  height: 16px;
}

.mobile-btn {
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;
}

.mobile-btn .mobile-menu-icon:focus,
.mobile-btn .mobile-menu-icon:hover {
  fill: var(--accent-color);
}

.qwerty {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: all 250ms linear;
}

.mobile-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  min-height: 453px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.hero {
  padding-top: 118px;
  padding-bottom: 198px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.title-hero {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #2196f3;
  text-decoration: inherit;
  cursor: pointer;
  border-radius: 4px;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-right: 180px;
    padding-left: 180px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop.jpg");
    height: 600px;
  }
  .title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 700px;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #ffffff;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-desktop@2x.jpg");
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-title-box {
  display: none;
}

.features-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.features-list-item {
  max-width: 450px;
  min-height: 101px;
}

.features-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-logo {
  width: 65px;
  height: 70px;
  align-items: center;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  padding-bottom: 10px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .features-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features-list-box {
    width: 354px;
  }
  .features-title {
    text-align: start;
  }
  .features-list {
    margin-left: -30px;
    margin-top: -15px;
  }
  .features-list-item {
    width: 354px;
    margin-left: 30px;
    margin-top: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  .features-list-box {
    width: 270px;
  }
}

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
    padding-bottom: 94px;
  }
  .about-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 50px;
  }
  .about-pic {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .about-list-item {
    position: relative;
  }
  .about-text {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    width: 370px;
    min-height: 70px;
    bottom: 0px;
    background: rgba(47, 48, 58, 0.8);
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  list-style-type: none;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
  max-width: 160px;
  margin: auto;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 160px;
  margin: auto;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 24px;
  max-width: 206px;
  margin: auto;
}

.team-social-item {
  list-style: none;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:focus, .team-social-link:hover {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:focus .social-list-icon,
.team-social-link:hover .social-list-icon {
  fill: #fff;
}

.team-pics {
  width: 100%;
  max-height: 460px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    list-style-type: none;
    margin-left: -30px;
    margin-top: -15px;
  }
  .team-list-item {
    width: 354px;
    margin-left: 30px;
    margin-top: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
  .team-pics {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    justify-content: space-between;
  }
  .team-pics {
    width: 270px;
    height: 260px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.clients-list-item {
  max-width: 210px;
  height: 90px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:focus, .clients-list-link:hover {
  border: 1px solid var(--accent-color);
}

.clients-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:focus .clients-list-icon,
.clients-list-link:hover .clients-list-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .clients-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list-item {
    width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .container {
  display: block;
}

.footer-address {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.text-footer {
  margin-bottom: 20px;
}

.footer .address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: #ffffff;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-mail-link,
.footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer .address-list {
  list-style-type: none;
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.footer-social-box {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin: auto;
}

.footer-social-item {
  list-style: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus, .footer-social-link:hover {
  background: var(--accent-color);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
}

.footer-form-box {
  width: 100%;
  text-align: center;
}

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.footer-form-btn {
  margin: auto;
  position: relative;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  cursor: pointer;
}

.footer-form-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-address {
    max-width: 232px;
  }
  .footer-social-box {
    max-width: 206px;
  }
  .footer-form-box {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .logo-footer {
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: inherit;
    color: #ffffff;
  }
  .footer-address {
    width: 100%;
    text-align: left;
    margin-bottom: 60px;
  }
  .footer-form-box {
    max-width: 570px;
    text-align: left;
  }
  .footer-form-input {
    max-width: 358px;
    margin: 0px;
  }
  .footer-form-field {
    display: flex;
  }
  .footer-form-btn {
    margin-left: 12px;
  }
  .footer-social-box {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */