.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
  }
}

.clients-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-list-link:focus &,
  .clients-list-link:hover & {
    fill: var(--accent-color);
  }
}
