.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container .footer {
  display: block;
}

.footer-address {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.text-footer {
  margin-bottom: 20px;
}

.footer .address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: #ffffff;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-mail-link,
.footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer .address-list {
  list-style-type: none;
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.footer-social-box {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
// .footer-social-box {
//   width: 206px;
//   height: 80px;
//   margin-left: 70px;
// }

.footer-social-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin: auto;
}

.footer-social-item {
  list-style: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background: var(--accent-color);
  }
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
}

.footer-form-box {
  // width: 100%;
  text-align: center;
}
// margin-left: 93px;

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

// .footer-form-field {
//   // display: flex;
// }

.footer-form-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.footer-form-btn {
  margin: auto;
  position: relative;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  cursor: pointer;
}

.footer-form-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
}

// Tablet  //

@media screen and (min-width: 768px) {
  .container .footer {
    display: flex;
  }
}
